<div class="sidebar" id="sidebar">

    <div class="sidebar-top">
        <h2>MONSTER ERP</h2>

        <button id="toggleSidebar">
            ☰
        </button>
    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="dashboard.html">
                📊
                <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="clientes.html">
                👥
                <span>Clientes</span>
            </a>
        </li>

        <li>
            <a href="ventas.html">
                💰
                <span>Ventas</span>
            </a>
        </li>

        <li>
            <a href="inventario.html">
                📦
                <span>Inventario</span>
            </a>
        </li>

        <li>
            <a href="facturas.html">
                🧾
                <span>Facturación</span>
            </a>
        </li>

        <li>
            <a href="envios.html">
                🚚
                <span>Envíos</span>
            </a>
        </li>

        <li>
            <a href="reportes.html">
                📈
                <span>Reportes</span>
            </a>
        </li>

    </ul>

</div>